h5{
    font-size: 15px;
    font-weight: bold;
}
div.card-body{
    padding: 10px;
}
p.card-text{
    font-size: 12px;
}
.abs{
    position: absolute;
    background-color: transparent;
    color: azure;
}
.bgred{
    background-color: rgba(255, 99, 71, 0.5);
    
}
.bggreen{
    background-color: rgba(186,255,220, 0.5);
   
}
.bgblue{
    background-color: rgba(125,225,255, 0.5);
    
}
.dsss{
    display: inline-block; 
}
.ress{
color: red;

}


  .myDIV:hover  {
   
    color: rgb(252, 176, 176);
    margin: 50;
    border-width: 2px;
    border-radius: 5px;
    border-color: rgb(174, 209, 255);
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 20rem;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }